<div class="container">
  <!-- <h1>ECM Credit Claim Posting</h1> -->
  <app-first-table></app-first-table>
  <!-- <dl class="row">
    <dt class="col-sm-3">Date:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateCreateFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Date Valeur:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Creditor:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>

    <dt class="col-sm-3">Nb LIQ Input Loans:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Nb SLS Input Loans:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">No of credit claims:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Credit Claims Total amount in Euro:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>

    <dt class="col-sm-3">Nb LIQ Input Loans:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Nb SLS Input Loans:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Credit Claim Registrations (CCR):</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Credit Claim Updates(CCU):</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Credit Claim Balance adjustments (CCOAU):</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Rating Registration:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Rating Update:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Credit Claim Mobilization(MOB):</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">New Credit Claim Mobilization(DEMOB):</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Total:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>

    <dt class="col-sm-3">Number of credit claims:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
    <dt class="col-sm-3">Credit Claims Total amount in EURO:</dt>
    <dd class="col-sm-9">{{ ecmsData.dateValueFlux | date: 'dd-MM-yyyy' }}</dd>
  </dl> -->
</div>
